body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    gap: 2px;
    margin: 20px auto;
    justify-content: center;
}

#score {
    font-size: x-large;
}

.cell {
    width: 56px;
    height: 56px;
    border: 1px solid rgb(56, 56, 56);
}

.obstacle {
    background-color: black;
}

.path {
    background-color: yellow;
    border: 3px;
    border-style: dotted;
}

.point5 {
    background-color: green;
}

.point10 {
    background-color: blue;
}

.button-1 {
    background-color: rgb(255, 81, 0);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 10px 0px 0px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover {
  background-color: #7a1800;
}